.popup__save-button_register {
    margin: 186px 0 15px 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 358px;
    height: 50px;
    transition: 0.2s;
}

.popup__save-button_register:hover {
    opacity: 0.85;
}