.element__like-button {
  background: none;
  background-image: url('../../../images/elements/like_button.svg');
  border: none;
  height: 19px;
  width: 22px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.element__like-button:hover {
  opacity: 0.6;
  transition: .3s;
}