.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity 0.2s ease-out;
  z-index: 1;
}
